@import '../../styles/variables.scss';

.layoutContainer {
  display: flex;
  min-height: 100vh;
  background-color: $bg-secondary;
}

.mainContent {
  flex: 1;
  margin-left: $sidebar-width;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  padding: $spacing-xl;
}

